@media (min-width: 40rem) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 1025px) {
  .discover-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }

  /* Hover effects ONLY on large screens */
  .card img:hover {
    filter: grayscale(100%);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}
